@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
   font-family: 'Montserrat', sans-serif;
}


.dark-mode {
   background-color: black;
   color: white;
}

h2,
h4 {
   font-weight: bold !important;
}
.meu-nome {
   font-weight: bold !important;
   font-size: 28px !important;
}

.container {
   justify-content: center;
   align-items: center;
}

.container p span.typed-text {
   font-weight: normal;
   color: #ffc300;
}

.container p span.cursor {
   display: inline-block;
   background-color: #ccc;
   margin-left: 0.1rem;
   width: 3px;
   animation: blink 1s infinite;
}

.container p span.cursor.typing {
   animation: none;
}

@keyframes blink {
   0% {
      background-color: #ccc;
   }

   49% {
      background-color: #ccc;
   }

   50% {
      background-color: transparent;
   }

   99% {
      background-color: transparent;
   }

   100% {
      background-color: #ccc;
   }
}

.col-md-6 .seg {
   visibility: hidden;
   opacity: 0;
   position:absolute;
}
.col-md-6:hover .seg {
   visibility: visible;
   opacity: 1;
}

img {
   width: 300px;
   transition: ease 1s;
}